.container-fluid{
  /* border:2px solid blue; */
}

#drum-machine{
  margin: auto;
  margin:2px solid red;
  width: 500px;
  height: auto;
  /* border:2px solid red; */
}

.btn-danger{
  margin: 5px;
  width:70px;
  height: 50px;
}

#display{
  background-color: black;
  width: 200px;
  height: 50px;
}
